interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://public-esa.ose.gov.pl/api/v1/smog
  response:
    body:
      string: "{\"smog_data\":[{\"school\":{\"name\":\"POWIATOWA SZKO\u0141A PODSTAWOWA
        SPECJALNA W BOLES\u0141AWCU\",\"street\":\"UL. BANKOWA\",\"post_code\":\"59-700\",\"city\":\"BOLES\u0141AWIEC\",\"longitude\":\"15.568652524605456\",\"latitude\":\"51.260498457733576
        \"},\"data\":{\"humidity_avg\":80.63333333333334,\"pressure_avg\":998.9916666666667,\"temperature_avg\":8.191666666666666,\"pm10_avg\":14.458333333333334,\"pm25_avg\":12.950000000000001},\"timestamp\":\"2023-10-16
        20:24:13\"},{\"school\":{\"name\":\"SZKO\u0141A PODSTAWOWA Z ODDZIA\u0141AMI
        INTEGRACYJNYMI W SZCZYTNIKACH\",\"street\":null,\"post_code\":\"32-112\",\"city\":\"SZCZYTNIKI\",\"longitude\":\"20.2865705\",\"latitude\":\"50.2369307\"},\"data\":{\"humidity_avg\":98.46666666666665,\"pressure_avg\":989.3000000000001,\"temperature_avg\":6.058333333333334,\"pm10_avg\":28.058333333333334,\"pm25_avg\":25.599999999999998},\"timestamp\":\"2023-10-16
        20:24:13\"},{\"school[...]
